# ignore Android APK and CoDroid outputs
*.apk
*.meta

# ignote temp files during runtime of CoDroid
*.keystore

# ignore the after-building files of library
*.o
*.a
coverage/codroid
coverage/dumpmeta
codroid/localco

# ignore some files in www
www/*.db
www/uploads/*
www/downloads/*
www/records/

#other
uploads/*
downloads/*
records/*
tmp/*
